$grayForModal: #D9D9D9;
$text-color: #181818;
$button-color: #FA0606;
$form-color:#3c7bf1;
$slider-payment: #0048b1;
$footer-border: #cbc9c9;
$twitter-color:#1fa1ef;
$linkedIn-color:#1076a7;
$contact-color: #4ab6dc;

$thin-font: 'Montserrat', sans-serif;

$mobile-font-header-size: 1em;
$mobile-font-normal-size: 0.9em;
$mobile-font-small-size: 0.85em;


$font-huge-header-size: 1.9em;
$font-header-size: 1.5em;
$font-normal-size: 1em;
$font-small-size: 0.9em;

$desktop-normal-size: 1.2em; 